* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #24282A;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem;
  margin: 0 auto;
}

.dots {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 5px 0px 0px rgba(28, 31, 32, 0.85);
}

.content {
  display: none;
  flex-direction: column;
  gap: 2rem;
}

.slider__content {
  display: flex;
  flex-direction: row-reverse;
  align-items: last baseline;
}

.meme__text {
  color: white;
}

input {
  cursor: pointer;
}


#dot1:checked ~ .content#meme1,
.dots #dot2:checked .content#meme2,
.dots #dot3:checked ~ .content#meme3,
.dots #dot4:checked ~ .content#meme4,
.dots #dot5:checked ~ .content#meme5 {
  display: flex;
}